*::selection{
    background-color:#f19c6f;

}


body[theme='black']{
    background-color: #000;
}
body[theme='black'] .section{
    color: white;
}
body[theme='cyan']{
    background-color: cyan;
}
body[theme='cyan'] .section{
    color: rgb(37, 68, 68);
}
body[theme='salmon']{
    background-color: salmon;
}
body[theme='salmon'] .section{
    color:rgb(99, 55, 50);
}
body[theme='white']{
    background-color: white;
}
body[theme='white'] .section{
    color: black;
}
